@using Wfm.Shared.Models.Accounts
@model ChangePasswordModel

@{
    Layout = "";
}

<html>
<head>
    <meta charset="utf-8">
    <title>@T("Admin.Accounts.Account.ResetPassword")</title>
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="retrieve-box">
        @using (Html.BeginForm("ChangePasswordIfPasswordExpired", "Account"))
        {
            @Html.AntiForgeryToken()
            Html.EnableClientValidation(true);
            <div class="message-error">@Html.ValidationSummary(true, "")</div>
            <div class="retrieve-header">@T("Admin.PageTitle").Text</div>
            <div class="login-info">@T("Web.Candidate.Candidate.Login.Fail.PasswordExpired")</div>
            <div class="message-error">@ViewBag.LogInfo</div>
            @Html.Partial("_ChangeAccountPassword", Model)
            <div></div>
            <div class="retrieve-button"><button id="submit" name="submit" type="submit">Submit</button></div>
        }
    </div>
</body>
</html>
