@using Wfm.Shared.Models.Accounts
@model PasswordRecoveryModel
@{
    Layout = "";
}
<html>
<head>
    <meta charset="utf-8">
    <title>@T("Account.ResetPassword.RetrievePasswordByEmail")</title>
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="retrieve-box">
            <div class="message-error">@Html.ValidationSummary(true, "")</div>
            <div class="retrieve-header">@T("Admin.PageTitle").Text</div>
            <div class="retrieve-info">@T("Account.ResetPassword.RetrievePasswordByEmail")</div>
            <div class="retrieve-label"><label>@T("Account.PasswordRecovery.Instruction1").Text</label></div>
            <div class="retrieve-email">@Html.TextBoxFor(m => m.Email, new {type="email", placeholder = T("Admin.Configuration.EmailAccount.Fields.Email") })
                <span class="message-error">@Html.WfmValidationMessageFor(model => model.Email)</span></div>
            <div></div>
            <div class="retrieve-button"><button id="login" name="login" type="submit">Submit</button></div>
        </div>
    }
    <div class="login-footer">
        <div class="copyright">&copy; @(DateTime.Today.Year) Tempus Workforce Management</div>
        <div class="footer-links"> @Html.ActionLink("Privacy policy", "ClientPrivacyPolicy", "Home", null, new { target = "_blank" }) | @Html.ActionLink("Terms of use", "ClientTermsOfUse", "Home", null, new { target = "_blank" }) </div>
    </div>
</body>
</html>