@using Wfm.Core;
@using Wfm.Services.Franchises;
@{  
    var startDate = DateTime.Today.Date.AddDays(-7);
    var endDate = DateTime.Today;
    var workContext = EngineContext.Current.Resolve<IWorkContext>();
 }


@(Html.Kendo().PanelBar().Name("search-bar")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text(String.Format(T("Common.ReportParameters").Text, T("Report.BillingRatesAuditLogReport").Text))
            .Expanded(true)
            .Content(@<div class="panel" style="margin-left:15px">
                <br />
                @Html.Label("FromDate", "From: ")
                @Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("fromDate").Value(startDate.ToString("yyyy-MM-dd")).Events(e => e.Change("startDateChange"))
                @Html.Label("ToDate", "To: ")
                @Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("toDate").Value(endDate.ToString("yyyy-MM-dd"))
                <div style="text-align: center">
                    @(Html.Kendo().Button().Name("loadReport").HtmlAttributes(new { type = "submit", @class = "k-button" }).Content(@T("Admin.Common.Load").Text))<br /><br />
                </div>
            </div>);
    })
)

<div id="report" />
<div>
    <br />
    @Html.Action("_BillingRatesAudit", "Company")
</div>


<script type="text/javascript">

    $("#loadReport").bind("click", function () {
        $('#companybillingrate-grid').data('kendoGrid').dataSource.read();
    });

    function loadReport() {
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();

        if (!fromDate) {
            alert("Please select the start date!");
        }
        else if (!toDate) {
            alert("Please select the end date!");
        }
        else {
            $("#report").load("_BillingRatesAuditLogReport", {
                startDate: $("#fromDate").val(),
                endDate: $("#toDate").val()
            });
        }
    }

    function startDateChange() {
        var startDate = this.value();
        if (startDate)
            $("#toDate").data("kendoDatePicker").min(new Date(startDate));
    }

</script>
