@using Wfm.Core;
@using Wfm.Services.Franchises;
@{
    var startDate = DateTime.Today.Date.AddDays(-7);
    var endDate = DateTime.Today;
    var workContext = EngineContext.Current.Resolve<IWorkContext>();
}

<style>
    .k-multiselect.k-header {
        /*border-color: #94c0d2;*/
        text-align: left;
        float: none;
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
        margin-right: 20px;
    }
</style>
@(Html.Kendo().PanelBar().Name("search-bar")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text(String.Format(T("Common.ReportParameters").Text, T("Report.EmployeeInfo").Text))
            .Expanded(true)
            .Content(@<div class="panel">
                <br />
                <label>@T("Common.Company"): </label>
                @(Html.Kendo().MultiSelect().Name("Companies").HtmlAttributes(new { style = "width:400px" })
                                .Placeholder("Select companies...")
                                .DataSource(ds => ds.Read("GetCascadeCompanies", "Common"))
                                .DataTextField("Text")
                                .DataValueField("Value"))
                <br />
                <br />
                @Html.Label("FromDate", "Pay Date from: ")
                @Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("fromDate").Value(startDate.ToString("yyyy-MM-dd"))
                @Html.Label("ToDate", "To: ")
                @Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("toDate").Value(endDate.ToString("yyyy-MM-dd"))
                <div style="text-align: center">
                    <br />@(Html.Kendo().Button().Name("loadReport").HtmlAttributes(new { type = "submit", @class = "k-button" }).Content(@T("Admin.Common.Load").Text))<br /><br />
                </div>
            </div>);
    })
)

<div id="report" />
<script type="text/javascript">

    $("#loadReport").bind("click", function () {
        loadReport();
    });

    function loadReport() {
        var ids = $("#Companies").data("kendoMultiSelect").value().join();
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();

        if (!fromDate) {
            alert("Please select the start date!");
        }
        else if (!toDate) {
            alert("Please select the end date!");
        }
        else {
            $("#report").load("_EmployeeInfoReport", {
                fromDate: fromDate,
                toDate: toDate,
                companyIds: ids
            });
        }
    }
</script>







