@{
    var endDate = DateTime.Today;
    var startDate = endDate.AddYears(-1).AddDays(1);
}


@(Html.Kendo().PanelBar().Name("search-bar")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text(String.Format(T("Common.ReportParameters").Text, T("Report.TotalHoursByCandidate").Text))
            .Expanded(true)
            .Content(@<div class="panel">
                <br />
                <label class="first-label">Company: </label>
                @(Html.Kendo().ComboBox().Name("Company").HtmlAttributes(new { style = "width: 250px" })
                    .Placeholder("Select a company...")
                    .DataSource(ds => ds.Read("GetCascadeCompanies", "Common"))
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Events(e => e.Change("onCompanyChange"))
                )
                <span id="max-hours" style="margin-left:20px;color:blue"></span>
                <br />
                <br />
                <label class="first-label">From: </label>
                @(Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("fromDate")
                    .Format("yyyy-MM-dd").Value(startDate).Events(e => e.Change("startDateChange")))

                <label>To: </label>
                @(Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("toDate")
                    .Format("yyyy-MM-dd").Value(endDate))

                <label class="first-label">Min Hours: </label>
                @Html.Kendo().NumericTextBox().Name("threshold").Value(0).Format("0").HtmlAttributes(new { style = "width:200px" })

                <div style="text-align: center">
                    <br />@(Html.Kendo().Button().Name("loadReport").HtmlAttributes(new { type = "submit", @class = "k-button" }).Content(@T("Admin.Common.Load").Text).Events(e => e.Click("loadReport")))<br /><br />
                </div>

            </div>);
    })
)

<div id="report" />


<script type="text/javascript">

    function onCompanyChange(e) {
        var companyId = $('#Company').val();
        $.ajax({
            url: '@Url.Action("GetMaxAnnualHours", "Company")',
            data: { companyId: companyId },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                initInputs(data);
            },
        });
    }

    function initInputs(data) {
        var setting = '';
        if (data.MaxHours) {
            setting = 'Max annual hours: ' + data.MaxHours + ' hours, from ' + data.StartDate + ' to ' + data.EndDate + '. ';
            setting += 'The reminding threshold is ' + data.Threshold + ' hours.';
            var startDate = '@startDate.ToString("yyyy")' + '-' + data.StartDate;
            var startPicker = $('#fromDate').data('kendoDatePicker');
            startPicker.value(startDate);
            startPicker.trigger('change');
            $('#threshold').data('kendoNumericTextBox').value(data.Threshold);
        }
        $('#max-hours').html(setting);
    }

    function startDateChange() {
        var startDate = this.value(),
            endPicker = $("#toDate").data("kendoDatePicker"), endDate = endPicker.value();

        if (startDate) {
            startDate = new Date(startDate);
            endPicker.min(startDate);
            var suggestedDt = new Date(startDate);
            suggestedDt.setFullYear(suggestedDt.getFullYear() + 1);
            suggestedDt.setDate(suggestedDt.getDate() - 1);
            endPicker.value(suggestedDt);
        }
    }

    function loadReport() {
        var companyId = $("#Company").val();
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();
        var threshold = $("#threshold").val();
        if (!fromDate)
            alert("Please select start date!");
        else if (!toDate)
            alert("Please select end date!");
        else {
            $("#report").load("_TotalHoursByCandidate", {
                companyId: companyId ? companyId : 0,
                startDate: fromDate,
                endDate: toDate,
                threshold: threshold ? threshold : 0
            });
        }
    }

</script>
