@{
    var startDate = DateTime.Today.AddDays(DayOfWeek.Sunday - DateTime.Today.DayOfWeek - 7);
    var endDate = startDate.AddDays(6);
}
<style>
    .k-multiselect.k-header {
        /*border-color: #94c0d2;*/
        text-align: left;
        float: none;
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
        margin-right: 20px;
    }
</style>
@(Html.Kendo().PanelBar().Name("search-bar")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text(String.Format(T("Common.ReportParameters").Text, T("Report.GetTimeSheetsValidationsReport").Text))
            .Expanded(true)
            .Content(@<div class="panel">
                <br />
                <label class="first-label">Company: </label>
                @(Html.Kendo().MultiSelect().Name("Companies").HtmlAttributes(new { style = "width:400px" })
                    .Placeholder("Select companies...")
                    .DataSource(ds => ds.Read("GetCascadeCompanies", "Common"))
                    .DataTextField("Text")
                    .DataValueField("Value"))
                <br />
                <br />
                @Html.Label("FromDate", "From: ")
                @Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("fromDate").Value(startDate.ToString("yyyy-MM-dd")).Events(e => e.Change("startDateChange"))
                @Html.Label("ToDate", "To: ")
                @Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("toDate").Value(endDate.ToString("yyyy-MM-dd"))

                <div style="text-align: center">
                    <br />@(Html.Kendo().Button().Name("loadReport").HtmlAttributes(new { type = "submit", @class = "k-button" }).Content(@T("Admin.Common.Load").Text))<br /><br />
                </div>

            </div>);
    })
)

<div id="report" />


<script type="text/javascript">

    $("#loadReport").bind("click", function () {
        loadReport();
    });

    function startDateChange() {
        var startDate = this.value(),
            endPicker = $("#toDate").data("kendoDatePicker"), endDate = endPicker.value();

        if (startDate) {
            startDate = new Date(startDate);
            endPicker.min(startDate);

            var suggestedDt = new Date(startDate);
            suggestedDt.setDate(suggestedDt.getDate() + 6);
            endPicker.value(suggestedDt);
        }
    }

    $(document).ready(function () {
        //loadReport();
    })

    function loadReport() {
        var ids = $("#Companies").val();
        if (ids == null) {
            $("#report").load("_TimeSheetsValidationReport", {
                startDate: $("#fromDate").val(),
                endDate: $("#toDate").val()
            });
        } else {
            ids = $("#Companies").val().join();
            $("#report").load("_TimeSheetsValidationReport", {
                startDate: $("#fromDate").val(),
                endDate: $("#toDate").val(),
                companyIds: ids
            });
        }
    }

</script>
