
@using Wfm.Core;
@using Wfm.Services.Franchises;
@{
    var startDate = DateTime.Today.Date.AddDays(-7);
    var endDate = DateTime.Today;
    var workContext = EngineContext.Current.Resolve<IWorkContext>();
}

<script type="text/javascript">
    function filterJobOrders() {
        return {
            companyId: $('[name="CompanyId"]').val()
        };
    }
</script>
@(Html.Kendo().PanelBar().Name("search-bar")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text(String.Format(T("Common.ReportParameters").Text, T("Report.TestResultReport").Text))
            .Expanded(true)
            .Content(@<div class="panel">
                <br />
                @Html.Label("refDate", "Candidate Created After: ")
                @Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" }).Name("refDate").Value(startDate.ToString("yyyy-MM-dd"))
                <br />
                <br />
                <label>@T("Common.Company"): </label>
                @(Html.Kendo().DropDownList().Name("CompanyId").HtmlAttributes(new { style = "width:400px" })
                    .OptionLabel("--Select--").DataTextField("Text").DataValueField("Value")
                    .DataSource(source => source.Read(read => { read.Action("GetCascadeCompanies", "Common"); }))
                )
                <br />
                <br />
                <label>@T("Common.JobOrder"): </label>
                @(Html.Kendo().DropDownList().Name("JobOrderId")
                    .HtmlAttributes(new { style = "width: 400px" })
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("--Select--")
                    .DataSource(source =>
                    source.Read(read => read.Action("GetCascadeJobOrders", "JobOrder").Data("filterJobOrders")).ServerFiltering(true)
                    )
                    .Enable(false)
                    .AutoBind(false)
                    .CascadeFrom("CompanyId")
                )



                <div style="text-align: center">
                    <br />@(Html.Kendo().Button().Name("loadReport").HtmlAttributes(new { type = "submit", @class = "k-button" }).Content(@T("Admin.Common.Load").Text))<br /><br />
                </div>
            </div>);
    })
)

<div id="report" />
<script type="text/javascript">

    $("#loadReport").bind("click", function () {
        loadReport();
    });

    function loadReport() {
        var companyId = $("#CompanyId").val();
        var jobOrderId = $("#JobOrderId").val();
        var refDate = $("#refDate").val();
        if (refDate == "" || refDate == null)
            alert("Please select a date first!");
        else
            $("#report").load("_TestResultReport", {
                companyId: companyId,
                jobOrderId: jobOrderId,
                refDate: refDate
            });
    }
</script>

