@model JobOrderModel

@{
    //ViewBag.Title = T("Admin.JobOrder.JobOrder.AddNew").Text;
}

@using (Html.BeginForm(new { @name = "jobordercreate" }))
{
    <div class="section-header">
        <div class="title">
            @T("Common.JobOrder") @Html.ActionLink("(" + T("Admin.JobOrder.JobOrder.BackToList") + ")", "Index")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            @Html.ActionLink(T("Admin.Common.Cancel").Text, "Index", "JobOrder", null, new { @class = "k-button" })
        </div>
    </div>


    @Html.Partial("_CreateOrUpdate", Model)


    <div class="section-header">
        <div class="title">
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
}


<script type="text/javascript">
    $('form input[type=submit]').click(function () {
        tinyMCE.triggerSave();
    });
</script>
