@using Wfm.Shared.Models.Incident
@model IncidentReportModel
<script>
    function filterLocations() { return { companyid: $("#company_id").val() }; }
    function filterJobOrders() {
        return {
            companyId: $('#company_id').val(),
            locationId: $('[name="LocationId"]').val(),
            startDateString: $('[name="IncidentDateTimeUtc"]').val()
        };
    }

    $(function () {
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
    });
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "incident-report-form" }))
{
    <div class="section-header">
        <div class="title">
            @(Model.Id > 0 ? T("Admin.Candidate.IncidentReport.Edit").Text : T("Common.Incident").Text)
        </div>
        <div class="options">
            <input type="button" name="save" id="save-incident-report" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="button" name="close" id="close-incident-report" class="k-button" value="@T("Common.Close")" />
        </div>
    </div>

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CandidateId)
    @Html.HiddenFor(model => model.CreatedOnUtc)
    @Html.HiddenFor(model => model.UpdatedOnUtc)

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.IncidentDateTimeUtc)
            </td>
            <td class="adminData">
                @(Html.Kendo().DateTimePicker()
                            .Name("IncidentDateTimeUtc")
                            .Format("dddd, MMMM d, yyyy hh:mm tt")
                            .Start(CalendarView.Month)
                            .Min(DateTime.Now.AddYears(-10))
                            .Max(DateTime.Now)
                )
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.CompanyName)
            </td>
            <td class="adminData required">
                @(Html.Kendo().DropDownList()
                .Name("CompanyId")
                .HtmlAttributes(new { id="company_id"})
                .OptionLabel("--Select--")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(Model.CompanyList)
                )
                @Html.WfmValidationMessageFor(model => model.CompanyId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.IncidentCategoryCode)
            </td>
            <td class="adminData required">
                @(Html.Kendo().DropDownList()
                .Name("IncidentCategoryId")
                .OptionLabel("--Select--")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(Model.IncidentCategoryList)
                )
                @Html.WfmValidationMessageFor(model => model.IncidentCategoryId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.LocationName)
            </td>
            <td class="adminData">
                @(Html.Kendo().DropDownList()
                .Name("LocationId")
                .OptionLabel("--Select--")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataSource(source =>
                {
                    source.Read(read =>
                        {
                            read.Action("GetCascadeLocations", "Common").Data("filterLocations");
                        })
                        .ServerFiltering(true);
                })
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("company_id")
                )
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.Position)
            </td>
            <td class="adminData">
                @(Html.Kendo().DropDownListFor(model => model.JobOrderId)
                .HtmlAttributes(new { data_bind = "value:JobOrderId", style = "width: 400px" })
                .DataTextField("Text")
                .DataValueField("Value")
                .OptionLabel("None")
                .DataSource(source =>
                    source.Read(read => read.Action("GetCascadeJobOrders", "JobOrder").Data("filterJobOrders")).ServerFiltering(true)
                )
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("LocationId")
                )
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.Note)
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Note, new { id = "Note", style = "height:50px;width:100%;" })
            </td>
        </tr>
    </table>
}


