@model QueuedEmailModel
<style>
    td.adminTitle {
        width:100px;
    }
</style>
<div class="content">
    <div class="notification-wrapper">
        @Html.Partial("Notifications")
    </div>
    <div class="cph">
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.WfmLabelFor(model => model.From)
                </td>
                <td class="adminData">
                    @Html.DisplayFor(model => model.From)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.WfmLabelFor(model => model.FromName)
                </td>
                <td class="adminData">
                    @Html.DisplayFor(model => model.FromName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.WfmLabelFor(model => model.Subject)
                </td>
                <td class="adminData">
                    @Html.DisplayFor(model => model.Subject)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.WfmLabelFor(model => model.Body)
                </td>
                <td class="adminData">
                    @Html.Kendo().Editor().Name("Body").HtmlAttributes(new { style = "height:600px;width:100%;", maxlength = "4000" })
                </td>
            </tr>
        </table>
    </div>
    <div class="clearer"></div>
</div>

    

<script type="text/javascript">
    $(document).ready(function () {
        $($('#Body').data().kendoEditor.body).attr('contenteditable', false);
        $('.k-editor-toolbar').hide();
    });
</script>
