@using Wfm.Shared.Models.Accounts

@model AccountModel
@{
    ViewBag.Title = T("Admin.Accounts.Account.EditAccountDetails").Text;

    var returnPath = ViewBag.ReturnPath;
}

@using (Html.BeginForm(null, null, new { returnPath = returnPath }, FormMethod.Post, new { id = "account-edit-form" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="section-header">
        <div class="title">
            @T("Common.Account") @Html.ActionLink("(back to details)", "Details", new { guid = Model.AccountGuid, returnPath = returnPath })
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            @Html.ActionLink(T("Admin.Common.Cancel").Text, "Details", new { guid = Model.AccountGuid, returnPath = returnPath }, new { @class = "k-button" })
        </div>
    </div>
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <div class="statisticsTitle">
                    @T("Admin.Accounts.Account.LoginInformation")
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.Username)
            </td>
            <td class="adminData required">
                @Html.EditorFor(model => model.Username)
                @Html.WfmValidationMessageFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.IsActive)
            </td>
            <td class="adminData">
                @Html.CheckBoxFor(model => model.IsActive)
            </td>
        </tr>
    </table>
    @Html.Partial("_CreateOrUpdate", Model)
}