@using Wfm.Shared.Models.Accounts
@model AccountResetPasswordModel
@{
    ViewBag.Title = T("Admin.Accounts.Account.ResetPassword").Text;

    var returnPath = ViewBag.ReturnPath;
}

@using (Html.BeginForm(null, null, new { returnPath = returnPath }, FormMethod.Post, null))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.AccountGuid)
    @Html.HiddenFor(model => model.Username)
    @Html.HiddenFor(model => model.PasswordPolicyModel.Code)
    @Html.HiddenFor(model => model.PasswordPolicyModel.PasswordHistory)
    @Html.HiddenFor(model => model.PasswordPolicyModel.PasswordLifeTime)
    @Html.HiddenFor(model => model.PasswordPolicyModel.MinLength)
    @Html.HiddenFor(model => model.PasswordPolicyModel.MaxLength)
    @Html.HiddenFor(model => model.PasswordPolicyModel.RequireLowerCase)
    @Html.HiddenFor(model => model.PasswordPolicyModel.RequireNumber)
    @Html.HiddenFor(model => model.PasswordPolicyModel.RequireSymbol)
    @Html.HiddenFor(model => model.PasswordPolicyModel.RequireUpperCase)
    @Html.ValidationSummary(true)

    <div class="section-header">
        <div class="title">
            Reset password for @Model.Username
            @Html.ActionLink("(back to details)", "Details", new { guid = Model.AccountGuid, returnPath = returnPath })
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            @Html.ActionLink(T("Admin.Common.Cancel").Text, "Details", new { guid = Model.AccountGuid, returnPath = returnPath }, new { @class = "k-button" })
        </div>
    </div>

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(m => m.NewPassword)
            </td>
            <td class="adminData required">
                @Html.EditorFor(m => m.NewPassword)
                
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(m => m.ConfirmNewPassword)
            </td>
            <td class="adminData required">
                @Html.EditorFor(m => m.ConfirmNewPassword)
            </td>
        </tr>
    </table>
}