@model IEnumerable<ScheduleTaskModel>

<div class="section-header">
    <div class="title">
        @T("Admin.Configuration.ScheduleTask") @Html.ActionLink("(" + T("Admin.Common.BackToConfiguration") + ")", "Index", "Configuration")
    </div>
    <div class="options">
        @Html.ActionLink(T("Common.Add").Text, "Create", null, new { @class = "k-button" })
    </div>
</div>

<table class="adminContent">
    <tr>
        <td>
            @(Html.Kendo().Grid<ScheduleTaskModel>()
              .Name("scheduletask-grid")
              .BindTo(Model)
              .Columns(columns =>
                {
                    columns.Bound(x => x.Id).Width(80).Hidden();
                    columns.Bound(x => x.Name).Width(220);
                    columns.Bound(x => x.Seconds).Width(80);
                    columns.Bound(x => x.Type);
                    
                    columns.Bound(x => x.Note).Hidden();

                    columns.Bound(x => x.IsActive)
                        .HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" })
                        .Template(@<img alt="" src="@Url.Content("~/Content/images/active-" + item.IsActive.ToString().ToLowerInvariant() + ".png")" />)
                        .ClientTemplate("<img alt='' src='" + Url.Content("~/Content/images/") + "active-#= IsActive #.png' />")
                        .Width(80);

                    columns.Bound(x => x.StopOnError)
                        .HtmlAttributes(new { style = "text-align:center" })
                        .Width(80);
                    columns.Bound(x => x.LastStartUtc).Format("{0:yyyy-MM-dd HH:mm}").Width(120);
                    columns.Bound(x => x.LastEndUtc).Format("{0:yyyy-MM-dd HH:mm}").Width(120);
                    columns.Bound(x => x.LastSuccessUtc).Format("{0:yyyy-MM-dd HH:mm}").Width(120);

                    columns.Bound(x => x.UpdatedOnUtc).ClientTemplate("#=kendo.toString(UpdatedOn,'yyyy-MM-dd HH:mm')#").Width(120);
                    columns.Bound(x => x.CreatedOnUtc).ClientTemplate("#=kendo.toString(CreatedOn,'yyyy-MM-dd HH:mm')#").Width(120).Hidden(true);

                    columns.Bound(x => x.Id).Filterable(false).Sortable(false)
                        .HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" })
                        .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { x.Id }))
                        .ClientTemplate("<a class='-k-button' href=\"" + @Url.Content("~/Admin/TaskManager/Edit/") + "#= Id #\">" + "<span class='k-icon k-i-pencil'></span>" + "</a>")
                        .Width(80)
                        .Title(T("Admin.Common.Edit").Text);
                })
                .EnableCustomBinding(false)
                .Reorderable(reorder => reorder.Columns(true))
                .Resizable(resize => resize.Columns(true))
                .Filterable()
                .Sortable()
                .ColumnMenu()
                .Selectable()
                .Pageable(x => x.PageSizes(new[] { 10, 20, 30, 50, 100 }).Refresh(true))
                .DataSource(ds => ds
                    .Ajax()
                    .ServerOperation(false)
                    .PageSize(20)
                )
                .Filterable(filterable => filterable
                    .Extra(false)
                    .Operators(operators => operators
                        .ForString(str => str.Clear()
                            .Contains("Contains")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
            )
        </td>
    </tr>
</table>
