@using System.Linq
@using Wfm.Shared.Models.Accounts
@using Wfm.Services.Companies
@using Wfm.Services.Common;

@model AccountModel

@{
    var accountRoleService = EngineContext.Current.Resolve<IAccountRoleService>();
    var accountRolesDropDownList = accountRoleService.GetAllAccountRolesForDropDownList(true)
                                   .Select(ar => new SelectListItem(){ Text = ar.AccountRoleName, Value = ar.SystemName }).ToList();
}

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.AccountGuid)
@Html.HiddenFor(model => model.CreatedOnUtc)
@Html.HiddenFor(model => model.UpdatedOnUtc)
@Html.HiddenFor(model => model.FranchiseId)
@Html.HiddenFor(model => model.Username)
@Html.HiddenFor(model => model.IsDeleted)
@Html.HiddenFor(model => model.IsClientAccount)

<table class="adminContent">
    <tr>
        <td colspan="4">
            <div class="statisticsTitle">
                @T("Common.BasicInformation")
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.FirstName)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.FirstName)
            @Html.WfmValidationMessageFor(model => model.FirstName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.LastName)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.LastName)
            @Html.WfmValidationMessageFor(model => model.LastName)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="statisticsTitle">
                @T("Admin.Accounts.Account.SecurityRole")
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.AccountRoleSystemName)
        </td>
        <td class="adminData required">
            @(Html.Kendo().DropDownList()
                .Name("AccountRoleSystemName")
                .OptionLabel("--Select--")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(accountRolesDropDownList)
            )
            @Html.WfmValidationMessageFor(model => model.AccountRoleSystemName)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="statisticsTitle">
                @T("Common.CompanyInformation")
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.CompanyId)
        </td>
        <td class="adminData required">
            @(Html.Kendo().DropDownList()
                .Name("CompanyId")
                .BindTo(new List<SelectListItem>() {new SelectListItem{Text=Model.CompanyName,Value=Model.CompanyId.ToString()}})
            )
            <script> function filterCompanies() { return { franchiseId: $("#FranchiseId").val() }; } </script>
            @Html.WfmValidationMessageFor(model => model.CompanyId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.CompanyLocationId)
        </td>
        <td class="adminData">
            @(Html.Kendo().DropDownList()
                .Name("CompanyLocationId")
                //.OptionLabel("--Select--")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetCascadeLocations", "Common").Data("filterCompanyLocations");
                    })
                        .ServerFiltering(true);
                })
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("CompanyId")
            )
            <script> function filterCompanyLocations() { return { companyId: $("#CompanyId").val() }; } </script>
            @Html.WfmValidationMessageFor(model => model.CompanyLocationId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.CompanyDepartmentId)
        </td>
        <td class="adminData">
            @(Html.Kendo().DropDownList()
                .Name("CompanyDepartmentId")
                    //.OptionLabel("--Select--")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetCascadeDepartments", "Common").Data("filterCompanyDepartments");
                    })
                        .ServerFiltering(true);
                })
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("CompanyLocationId")
            )
            <script> function filterCompanyDepartments() { return { locationId: $("#CompanyLocationId").val() }; } </script>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.ShiftId)
        </td>
        <td class="adminData">
            @(Html.Kendo().DropDownListFor(model => model.ShiftId)
                .OptionLabel("--Select--")
                .DataTextField("Text").DataValueField("Value")
                .DataSource(source => source.Read(read => read.Action("GetCascadeShift", "JobOrder").Data("filterShifts")).ServerFiltering(true))
                .Enable(false).AutoBind(false)
                .CascadeFrom("CompanyId")
            )
            <script> function filterShifts() { return { companyId: $("#CompanyId").val() }; } </script>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="statisticsTitle">
                @T("Admin.Accounts.Account.ContactInformation")
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.WorkPhone)
        </td>
        <td class="adminData required">
            @Html.Kendo().MaskedTextBoxFor(model => model.WorkPhone).Mask("(999) 000-0000")
            @Html.WfmValidationMessageFor(model => model.WorkPhone)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.HomePhone)
        </td>
        <td class="adminData">
            @Html.Kendo().MaskedTextBoxFor(model => model.HomePhone).Mask("(999) 000-0000")
            @Html.WfmValidationMessageFor(model => model.HomePhone)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.MobilePhone)
        </td>
        <td class="adminData">
            @Html.Kendo().MaskedTextBoxFor(model => model.MobilePhone).Mask("(999) 000-0000")
            @Html.WfmValidationMessageFor(model => model.MobilePhone)
        </td>
    </tr>
</table>