@model IEnumerable<MissingHourDocumentModel>


@if (Model != null && Model.Any())
{
    foreach (var doc in Model)
    {
        <a class='k-button' href='@(Url.Content("~/Admin/Company/DownloadMissingHourDocument/") + doc.Id.ToString())'>
            <img alt="document" src="@Url.Content("~/Administration/Content/images/ico-letter.png")" class="k-image">
            @doc.FileName
            <img alt="delete" src="@Url.Content("~/Administration/Content/images/ico-cross-small.png")" class="k-image" id="delete-document" onclick="return deleteDocument(@doc.Id);">
        </a>
    }
}
else
{
    <span>None</span>
}


<script type="text/javascript">

    function deleteDocument(id) {
        $.ajax({
            url: '@Url.Action("_DeleteMissingHourDocument", "Company")',
            type: 'post',
            data: { id: id },
            success: function (result) {
                if (!result.Success)
                    alert(result.Error);
                refreshList();
            }
        });
        return false;
    }

</script>
