@model SettingModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CreatedOnUtc)
@Html.HiddenFor(model => model.UpdatedOnUtc)
@Html.HiddenFor(model => model.FranchiseId)
@Html.HiddenFor(model => model.EnteredBy)


<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.Name)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.Name)
            @Html.WfmValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.Value)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Value)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.CreatedOn)
        </td>
        <td class="adminData">
            @Html.DisplayFor(model => model.CreatedOn)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.UpdatedOn)
        </td>
        <td class="adminData">
            @Html.DisplayFor(model => model.UpdatedOn)
        </td>
    </tr>
</table>
