@model ChangePasswordModel
@using Wfm.Shared.Models.Accounts

@Html.HiddenFor(model => model.PasswordPolicyModel.Code)
@Html.HiddenFor(model => model.PasswordPolicyModel.PasswordHistory)
@Html.HiddenFor(model => model.PasswordPolicyModel.PasswordLifeTime)
@Html.HiddenFor(model => model.PasswordPolicyModel.MinLength)
@Html.HiddenFor(model => model.PasswordPolicyModel.MaxLength)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireLowerCase)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireNumber)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireSymbol)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireUpperCase)
<div class="fieldset">
    <div class="form-fields">
        <div class="inputs">
            @Html.LabelFor(m => m.OldPassword)
            @Html.EditorFor(m => m.OldPassword)
            @Html.WfmValidationMessageFor(model => model.OldPassword)
        </div>
        <div class="inputs">
            @Html.LabelFor(m => m.NewPassword)
            @Html.EditorFor(m => m.NewPassword)
            @Html.WfmValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="inputs">
            @Html.LabelFor(m => m.ConfirmNewPassword)
            @Html.EditorFor(m => m.ConfirmNewPassword)
            @Html.WfmValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
    </div>
</div>
