@model StateProvinceModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.StateProvince.AddNew").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "stateProvince-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Common.StateProvince") @Html.ActionLink("(" + T("Admin.Configuration.StateProvince.BackToList") + ")", "Index")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate", Model)
}
