@model Wfm.Shared.Models.Accounts.AccountResetPasswordModel
@{
    ViewBag.PageTitle = "Change password";
    ViewBag.UsingForm = true;

    ViewBag.Title = T("Admin.Accounts.Account.ResetPassword").Text;
}

@section Options {
    <button type="submit" name="save" class="btn bg-blue">
        <i class="fa fa-floppy-o"></i>@T("Admin.Common.Save")
    </button>
    <a class="btn bg-yellow" href="@Url.Action("Details")">
        <i class="fa fa-ban"></i>@T("Admin.Common.Cancel")
    </a>
}

@Html.ValidationSummary(true)
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Username)
@Html.HiddenFor(model => model.AccountGuid)
@Html.HiddenFor(model => model.PasswordResetToken)
@Html.HiddenFor(model => model.PasswordPolicyModel.Code)
@Html.HiddenFor(model => model.PasswordPolicyModel.PasswordHistory)
@Html.HiddenFor(model => model.PasswordPolicyModel.PasswordLifeTime)
@Html.HiddenFor(model => model.PasswordPolicyModel.MinLength)
@Html.HiddenFor(model => model.PasswordPolicyModel.MaxLength)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireLowerCase)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireNumber)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireSymbol)
@Html.HiddenFor(model => model.PasswordPolicyModel.RequireUpperCase)

@Html.InputFor(m => m.OldPassword, viewData: new { Required = "Please enter the old password" })
@Html.InputFor(m => m.NewPassword)
@Html.InputFor(m => m.ConfirmNewPassword)
