@model TestChoiceModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "testchoice-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Common.TestChoice")
            @Html.ActionLink("(" + T("Admin.Configuration.TestChoice.BackToList") + ")", "TestChoiceIndex", new { testQuestionId = Model.TestQuestionId })
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            @Html.ActionLink(T("Admin.Common.Cancel").Text, "TestChoiceIndex", "Test", new { testQuestionId = Model.TestQuestionId }, new { @class = "k-button" })
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate.TestChoice", Model)
}