@using Wfm.Services.Common
@using Wfm.Core.Domain.Candidates

@model CandidateModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IsEmployee)
@Html.HiddenFor(model => model.OnboardingStatus)

<table class="adminContent">
    <tr>
        <td colspan="2">
            <div class="statisticsTitle">
                @T("Common.BasicInformation")
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.SalutationId)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.SalutationId)
            @Html.WfmValidationMessageFor(model => model.SalutationId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.GenderId)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.GenderId)
            @Html.WfmValidationMessageFor(model => model.GenderId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.FirstName)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.FirstName)
            @Html.WfmValidationMessageFor(model => model.FirstName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.LastName)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.LastName)
            @Html.WfmValidationMessageFor(model => model.LastName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.MiddleName)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MiddleName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.BirthDate)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.BirthDate)
            @Html.WfmValidationMessageFor(model => model.BirthDate)
        </td>
    </tr>

    @if (Model.Id == null || Model.Id == 0)
    {
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.SocialInsuranceNumber)
            </td>
            @if (Model.IsEmployee || Model.OnboardingStatus == CandidateOnboardingStatusEnum.Started.ToString())
            {
                <td class="adminData required">
                    @Html.TextBoxFor(model => model.SocialInsuranceNumber, new { @readonly = "readonly", @class = "k-textbox" })
                    @Html.WfmValidationMessageFor(model => model.SocialInsuranceNumber)
                </td>
            }
            else
            {
                <td class="adminData">
                    @Html.Kendo().MaskedTextBoxFor(model => model.SocialInsuranceNumber).Mask("999 999 999")
                    @Html.WfmValidationMessageFor(model => model.SocialInsuranceNumber)
                </td>
            }
        </tr>
        <tr id="sin-expiration-date">
            <td class="adminTitle">
                @Html.LabelFor(model => model.SINExpiryDate)
            </td>
            <td class="adminData">
                @(Html.Kendo().DatePicker().HtmlAttributes(new { type = "text" })
                            .Name("SINExpiryDate")
                            .Format("MMMM d, yyyy")
                            .Min(DateTime.Now)
                )
                @Html.WfmValidationMessageFor(model => model.SINExpiryDate)
            </td>
        </tr>
    }
    else
    {
        @Html.HiddenFor(model => model.SocialInsuranceNumber, new { data_val = "false" })
        @Html.HiddenFor(model => model.SINExpiryDate, new { data_val = "false" })
    }

    <tr>
        <td colspan="2">
            <div class="statisticsTitle">
                @T("Admin.Candidate.ContactInformation")
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.HomePhone)
        </td>
        <td class="adminData required">
            @Html.Kendo().MaskedTextBoxFor(model => model.HomePhone).Mask("999-999-9999")
            @Html.WfmValidationMessageFor(model => model.HomePhone)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.MobilePhone)
        </td>
        <td class="adminData">
            @Html.Kendo().MaskedTextBoxFor(model => model.MobilePhone).Mask("999-999-9999")
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.EmergencyPhone)
        </td>
        <td class="adminData">
            @Html.Kendo().MaskedTextBoxFor(model => model.EmergencyPhone).Mask("999-999-9999")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="statisticsTitle">
                @T("Common.OtherInformation")
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.JobTitle)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.JobTitle)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.Education)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Education)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.ShiftId)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.ShiftId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.TransportationId)
        </td>
        <td class="adminData required">
            @Html.EditorFor(model => model.TransportationId)
        </td>
    </tr>

    @if (Model.TransportationId == 1)
    {
        <tr id="licence-plate">
            <td class="adminTitle">
                @Html.LabelFor(model => model.LicencePlate)
            </td>
            <td class="adminData required">
                @Html.EditorFor(model => model.LicencePlate)
                @Html.WfmValidationMessageFor(model => model.LicencePlate)
            </td>
        </tr>
    }
    else
    {
        <tr style="display:none" id="licence-plate">
            <td class="adminTitle">
                @Html.LabelFor(model => model.LicencePlate)
            </td>
            <td class="adminData required">
                @Html.EditorFor(model => model.LicencePlate)
                @Html.WfmValidationMessageFor(model => model.LicencePlate)
            </td>
        </tr>
    }

    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.MajorIntersection1)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MajorIntersection1)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.MajorIntersection2)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MajorIntersection2)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.LabelFor(model => model.PreferredWorkLocation)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.PreferredWorkLocation)
        </td>
    </tr>
</table>


<script type="text/javascript">
    $("#TransportationId").change(function () {
        var tran = $("#TransportationId").val();
        if (tran == 1) {
            $("#licence-plate").show();
        }
        else {
            $("#licence-plate").hide();
        }
    });

    $("#TransportationId").focus(function () {
        alert("focus");
        $("#license-plate").hide();
    });

    $("#SocialInsuranceNumber").blur(function () {
        if(@Model.Id==null || @Model.Id==0)
        {
            var sin = $('#SocialInsuranceNumber').val();
            if (sin != null && sin.length == 11 && sin[0] == "9") {
                $("#SINExpiryDate").data('kendoDatePicker').enable(true);
            }
            else {
                $("#SINExpiryDate").data('kendoDatePicker').enable(false);
                $("#SINExpiryDate").data('kendoDatePicker').val = new Date();
            }
        }
    });

    $(document).ready(function () {
        if(@Model.Id==null || @Model.Id==0)
        {
            var sin = $("#SocialInsuranceNumber").val();
            if (sin != null && sin.length == 11 && sin[0] == "9") {
                $("#SINExpiryDate").data('kendoDatePicker').enable(true);
            }
            else {
                $("#SINExpiryDate").data('kendoDatePicker').enable(false);
            }
        }
    });

</script>
